$color-getfo-000-white : #ffffff;
$color-getfo-400-primary: #09585c;
$color-getfo-999-black : #050505;


*, *::before, *::after {
  box-sizing: border-box;
}

/**********navigation styles***************/
header{
  background-color: $color-getfo-400-primary;
  text-align: center;
  position:fixed;
  width:100%;
  z-index:999;
  color:$color-getfo-000-white;
  img{
    width: 7rem;
    padding: 0 1rem 0 1rem;
  }
}

.nav-toggle{
  display: none;
}

.nav-toggle-lab{
  position:absolute;
  top:0;
  left:0;
  margin-left:1em;
  height:100%;
  display: flex;
  align-items: center;

  span,
  span::before,
  span::after{
    display: block;
    background:white;
    height: 2px;
    width: 2em;
    border-radius: 2px;
    position: relative;
  }

  span::before,
  span::after{
    content: '';
    position: absolute;
  }

  span::before{
    bottom: 7px;
  }

  span::after{
    top: 7px;
  }

}



nav{
  position:absolute;
  text-align:left;
  top: 100%;
  left:0;
  background-color: $color-getfo-400-primary;
  width: 100%;
  transform: scale(1,0);
  transform-origin: top;
  transition: transform 400ms ease-in-out;
  ul{
    margin:0;
    padding: 0;
    list-style:none;
  }
  li {
    margin-bottom:1em;
    margin-left: 1em;
  }
  a{
    color: $color-getfo-000-white;
    text-decoration: none;
    font-size: 1.2rem;
    text-transform: uppercase;
    opacity: 0;
    transition: opacity 150ms ease-in-out;

    :hover {
      color:$color-getfo-999-black;
    }

  }

}

.nav-toggle:checked ~ nav{
  transform: scale(1,1);
  a{
    opacity: 1;
    transition: opacity 250ms ease-in-out 250ms;
  }
}

@media screen and (min-width:800px){
  .nav-toggle-label {
    display:none;
  }
}



img{
  max-width : 300px;
}


/*********************************slide-section***********************************/
$animationSpeed: 40s;

// Animation
@keyframes scroll {
	0% { transform: translateX(0); }
	100% { transform: translateX(calc(-38rem * 8))}
}


// Styling
.slide-section{
  align-items: center;
	background: white;
	display: flex;
	justify-content: center;
}

.slider {
	background: white;
	box-shadow: 0 10px 20px -5px rgba(0, 0, 0, .125);
	height: auto;
	margin: auto;
	overflow:hidden;
	position: relative;
	width: 100vw;
	
	&::before,
	&::after {
		content: "";
		height: 30rem;
		position: absolute;
		width: 30rem;
		z-index: 2;
	}
	
	&::after {
		right: 0;
		top: 0;
		transform: rotateZ(180deg);
	}

	&::before {
		left: 0;
		top: 0;
	}
	
	.slide-track {
		animation: scroll $animationSpeed linear infinite;
		display: flex;
		width: calc(4000rem * 16);
	}
	
	.slide {
		width: 40rem;

    .slideImage{
      width : 15rem;
    }
	}
}

/**********************************end of slide section**************************/

